html,
body {
  background-color: #fffffe;
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', sans-serif;
}

button {
  font-family: 'Inconsolata', sans-serif;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #4fc4cf;
  --secondary: #994ff3;
}
