.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameBox {
  border: 8px solid transparent;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.nameBox.picked {
  border-color: var(--primary);
}

.nameBox.hidden {
  opacity: 0;
}

.name {
  text-align: center;
  color: var(--primary);
  font-weight: 700;
  font-size: 70px;
  width: 400px;
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  padding: 15px 120px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 rgb(79 196 207 / 0.39);
  align-items: center;
  display: flex;
}

.button span {
  font-size: 25px;
  position: absolute;
  white-space: nowrap;
}

.link {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
