html,
body {
  background-color: #fffffe;
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", sans-serif;
}

button {
  font-family: "Inconsolata", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
